nav {
  height: 400px;
  width: 100%;
  background-color: #a60735; }
  nav ul {
    padding: 0;
    list-style: none; }
    nav ul li {
      text-align: center; }
      nav ul li a {
        width: 100%;
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: black;
        font-family: 'Allerta Stencil', sans-serif;
        font-size: 10vw; }

/*Responsive <576*/
@media only screen and (min-width: 576px) {
  nav {
    height: 57px;
    background-color: #a60735; }
    nav ul {
      margin: 0%;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      nav ul li {
        width: 20%;
        height: 10vh; }
        nav ul li a {
          height: 100%;
          align-items: center;
          font-size: 1.5vw; } }

.navitem:hover {
  border-bottom: 8px solid;
  color: #ff7b00; }

/*Responsive <1420*/
@media only screen and (min-width: 1420px) {
  nav {
    background-color: #a60735; }
    nav ul {
      margin: 0%;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      nav ul li {
        width: 20%;
        height: 20vh; }
        nav ul li a {
          height: 100%;
          align-items: center;
          font-size: medium;
          font-size: 2vw; } }

footer {
  height: 15vh;
  background-color: black; }
  footer ul {
    height: 100%;
    margin: 0%;
    padding: 0%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    footer ul li {
      width: 33%;
      color: white;
      font-family: 'Allerta Stencil', sans-serif; }
      footer ul li a {
        width: 100%;
        display: flex;
        justify-content: center; }

/*Responsive <576*/
@media only screen and (min-width: 576px) {
  footer {
    height: 10vh; }
  .textoFooter {
    padding-left: 10%; } }

.imgConfig {
  width: 275px; }

/*Responsive <576*/
@media only screen and (min-width: 576px) {
  .mainProductos {
    display: flex;
    align-items: center; }
  .imgConfig {
    width: 25vw; } }

.imgConfigProduccion {
  width: 50vw; }

main {
  background: linear-gradient(to bottom, #a60735, black); }

.centrado {
  display: flex;
  justify-content: center;
  align-items: center; }

/*Responsive <576*/
.marginMain {
  margin-top: 15px; }
