footer{

    height: 15vh;
    background-color: $colorFooter;
    ul{
        height: 100%;
        margin: 0%;
        padding: 0%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        li{
            width: 33%;
            color: white;
            font-family: 'Allerta Stencil', sans-serif;
            a{
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }
}
/*Responsive <576*/
@media only screen and (min-width: 576px){
footer{
    height: 10vh;
}
.textoFooter{
padding-left:10%;
}

}

