.imgConfig{
    width: 275px;
}

/*Responsive <576*/
@media only screen and (min-width: 576px){
    .mainProductos{
        display: flex;
        align-items: center;
        height: 960px ;
    }
.imgConfig{
    width: 25vw;
    height: 50vh;
}
}