@import "variables.scss";
@import "fuente.scss";
@import "nav.scss";
@import "footer.scss";
@import "mainproductos.scss";
@import "mainproduccion.scss";

main{
    background: linear-gradient(to bottom, $colorRojo, $colorFooter);
}
.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Responsive <576*/

.marginMain{
    margin-top:15px;
}